/* body {
    background: linear-gradient(to right, rgb(200, 175, 253) , rgb(254, 186, 255));
} */

.intro{
    min-height: 90vh;
    display: flexbox;
    /* top:50px; */
    align-items: center;
    justify-content: space-around;
    position:relative;
    font-family: "Raleway";
    /* font-family: "Roboto Condensed"; */
    font-size: 0px;
    font-weight: 50;
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.intro span{
    position: relative;
    /* top: 20px; */
    display: inline-block;
    margin-right: 1px;
    font-size: 5rem;
}


/* .intro span:nth-child(1) {
    animation-name: move-intro-1;
    animation-duration:1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.intro span:nth-child(2) {
    animation-name: move-intro-2;
    animation-duration:1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
} */


@keyframes move-intro {
    100% {top: -20px;}
}

@keyframes move-intro-1 {
    0% {top: 0px; right: 0px;}
    25% {top: -200px; right: 0px;}
    75% {top: -200px; right: -550px;}
    100% {top: -100px; right: -550px;}
}


@keyframes move-intro-2 {
    0% {bottom: 0px; left: 0px;}
    25% {bottom: -300px; left: 0px;}
    75% {bottom: -300px; left: -300px;}
    100% {bottom: -100px; left: -300px;}
}


@keyframes example {
    0%   {background-color:rgb(200, 175, 253);}
    25%  {background-color:rgb(215, 178, 253);}
    50%  {background-color:rgb(228, 180, 254);}
    75%  {background-color:rgb(245, 182, 255);}
    100% {background-color:rgb(255, 185, 255);}
    
}

.buttons {
    display: inline-block;
    width: 49.8%;
    border: none;
    background-color: #000000;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}


